<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>スタート画面</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" href="/static/css/end.css">
</head>

<body>

<div class="wrapper">

    <header style="text-align:center; line-height:1.5">
        <h1><font color="white">東京電機大学　情報セキュリティ研究室</font></h1>
        <h2><font color="white">コンセプト 「セキュリティに興味を持ってもらう」</font></h2>
    </header>

    <div class="container">

        <div class="main" >

            <h2 style="text-align:center;"><font color="#00BCD4">「フィッシング詐欺に注意」</font></h2>
            <hr width = "90%" color="black" noshade>

            <div class="explain" style="text-align:left;">
                <p>
                    <font size="+1">
                        　フィッシング詐欺体験お疲れさまでした。いかがだったでしょうか。<br>
                        体験のように、<font color="red">銀行・ショッピングサイト</font>を装った電子メールを送付して、
                        本物そっくりの偽サイトに誘導させ重要情報を入力させる
                        「<font color="red">フィッシング詐欺</font>」が増加しています。
                        <p style="line-height:0.5">　</p>
                        　有名企業を装った電子メールに「重要なお知らせ」などとして
                        電子メール内のリンク(URL)をクリックさせて、偽サイトに誘導して個人情報を取得してなりすましの被害にあう危険性があります。
                    </font>
                </p>
            </div>

        </div>

        <div class="side" style="text-align:center;">
            <p>　</p>
            <img src = "/static/image/image_phishing.png" alt="写真" width="300px">
        </div>

    </div>

    <div class="container2">
        <div class="main2">
            <p style = "background-color:#FDD835; margin-right:200px; padding:5px">
                <font size="+1.5">■電子メールで偽サイトに誘導</font>
            </p>
            <p>
                ●銀行などのお知らせと称したメールで、リンクをクリックさせて偽サイトに利用者を誘導します。
                そこで入力された情報を盗み取ります。
            </p>

            <p style = "background-color:#FDD835; margin-right:200px; padding:5px">
                <font size="+1.5">■記載されたリンクは偽装可能</font>
            </p>
            <p>
                ●電子メールなどに記載されたリンクを実在するリンクのように見せることで誘導します。
                今回の体験でも電子メールのURLを好きに偽造して記載しています。
            </p>
            <p> </p>

            <div class="end">
                <div class="image">
                    <img src = "/static/image/image_police.png" alt="写真" width="200px">
                </div>
                <div class="main3">
                    <h2 style="text-align:center;"><font color="#00BCD4">不審なメール・サイトに気を付けて！</font></h2>
                    <hr width = "90%" color="black" noshade>

                    <p style="margin:0 10px;">
                        <font size="+1">
                            　最近ではフィッシングサイトの手口も巧妙化し、
                            パッと見では偽サイトであることに気づきにくく、
                            訪問したサイトが偽物であるかも分からないことがあります。<br>
                            　むやみやたらにメールやWebサイトを信じて行動せず、真偽を確かめて
                            被害にあわないようにしましょう。
                        </font>
                    </p>

                </div>
            </div>

            <div class="center-align" style="clear:both; text-align:center;">
                    <form name="form1" method="post" action="/start">
                        <div class="button">
                            <hr color="black" noshade>
                            <h3>最初のページに戻る場合は[戻る]ボタンを押してください。</h3>
                            <p><button class="button1" type="submit">戻る</button></p>
                        </div>
                    </form>
            </div>


        </div>
    </div>

    <footer style="text-align:center;">
        Tokyo Denki University @ Information Security Lab
    </footer>

</div>
</body>

</html>