<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>スタート画面</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" href="/static/css/end.css">
</head>

<body>

<div class="wrapper">

    <header style="text-align:center; line-height:1.5">
        <h1><font color="white">東京電機大学　情報セキュリティ研究室</font></h1>
        <h2><font color="white">コンセプト 「セキュリティに興味を持ってもらう」</font></h2>
    </header>

    <div class="container">

        <div class="main" >

            <h2 style="text-align:center;"><font color="#00BCD4">「アンケート調査を装った詐欺に注意」</font></h2>
            <hr width = "90%" color="black" noshade>

            <div class="explain" style="text-align:left;">
                <p>
                    <font size="+1">
                        アンケート調査を装った詐欺の体験お疲れさまでした。いかがだったでしょうか。<br>
                        体験のように、ウェブサイトで商品が当たるような<font color="red">広告・宣伝文</font>を装って、
                        悪意のあるページに閲覧者を誘導して、個人情報などの重要情報を入力させる<br>
                        「<font color="red">アンケート調査を装った詐欺</font>」が増加しています。
                        <p style="line-height:0.5">　</p>
                        　有名なものではGoogleのポップアップ広告を装って、「iPhone Xが抽選で当たる」といった"エサ"をちらつかせ、
                アンケートの回答ページに誘導して個人情報やクレジットカード情報などの大切な情報を奪取されるケースがあります。
                    </font>
                </p>
            </div>

        </div>

        <div class="side" style="text-align:center;">
            <p>　</p>
            <img src = "/static/image/image_phishing.png" alt="写真" width="300px">
        </div>

    </div>

    <div class="container2">
        <div class="main2">
            <p style = "background-color:#FDD835; margin-right:200px; padding:5px">
                <font size="+1.5">■当然の警告や喜ばせるような文言を目にしても慌てずに</font>
            </p>
            <p>
                ●今回の体験にある「プレゼントに当選した」以外にも「不正ログインがあった」という警告文が出てくる事例もあります。
                しかし、そのように書いてあっても鵜呑みにしてすぐに行動することはとても危険です。
                突然の出来事に動揺せず、一度落ち着いいて行動をすることでフィッシング詐欺などの犯罪から自分を守ることが出来ます。
            </p>

            <p style = "background-color:#FDD835; margin-right:200px; padding:5px">
                <font size="+1.5">■突然個人情報を聞き出すのは詐欺を疑いましょう</font>
            </p>
            <p>
                ●不正ログインやプレゼント当選などに驚いて行動してしまうことがあるかもしれません。
                しかし、冷静に判断すれば不正ログインの警告には個人情報を入力する前にアカウントをログインされないよう凍結措置を行うことや、
                普段利用していないサイトで突然プレゼントに当選するのはおかしいといった気づいて詐欺を見分けることが出来ます。
            </p>
            <p> </p>

            <div class="end">
                <div class="image">
                    <img src = "/static/image/image_police.png" alt="写真" width="200px">
                </div>
                <div class="main3">
                    <h2 style="text-align:center;"><font color="#00BCD4">冷静な行動をして犯罪に巻き込まれないように！</font></h2>
                    <hr width = "90%" color="black" noshade>

                    <p style="margin:0 10px;">
                        <font size="+1">
                            　フィッシング詐欺をはじめとする個人情報を盗みとるネット上の悪質行為は、
                            冷静に対処できていれば詐欺に気づくところ、相手に動揺や戸惑いを与えて言葉巧みに相手を言いなりにします。<br>
                            　身に覚えのない突然の出来事が舞い込んだ時は、その場で決断をせずに気持ちを落ち着かせてから
                            対処することが大切です。もし相談できる人がいれば状況説明をして、アドバイスを受けるなどして
                            犯罪に巻き込まれないようにしましょう。
                        </font>
                    </p>

                </div>
            </div>

            <div class="center-align" style="clear:both; text-align:center;">
                    <form name="form1" method="post" action="/start">
                        <div class="button">
                            <hr color="black" noshade>
                            <h3>最初のページに戻る場合は[戻る]ボタンを押してください。</h3>
                            <p><button class="button1" type="submit">戻る</button></p>
                        </div>
                    </form>
            </div>

        </div>
    </div>

    <footer style="text-align:center;">
        Tokyo Denki University @ Information Security Lab
    </footer>

</div>

</body>

</html>