<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
</head>
<body>
<from method="GET" action="/sing">
<div style="text-align:center;">
</div>

<p>ひがし銀行からの重要なお知らせです。</p>
<p>日頃はひがし銀行をご利用いただき誠にありがとうございます。
    このたび、お客様の会員登録が第三者にログインされた可能性があることが判明いたしました。
    緊急の措置として、第三者による不正な利用を防ぐためお客様の会員登録のパスワードを再設定していただきます。</p>
<p>　以下のページよりパスワード再設定のお手続きをお願いいたします。</p>
    <p>URL
    <a href="http://127.0.0.1:5000/signin">
        https://www.higashi.co.jp/passchange
    </a>
    </p>
<p>&nbsp;</p>
<p>-------------------------------</p>
<p>ひがし銀行 メールサポート</p>

</body>
</html>