<!DOCTYPE html>
<html lang="ja">
<head>
    <title>
        サインイン-会員情報の更新
    </title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" href="/static/css/style2.css">
</head>
<body>
<form method="POST" action="/end">

    <header style="text-align:left; line-height:1.5;">
        <h1 style="padding: 10px; margin-bottom: 10px; border: 2px solid #4DD0E1;">　ひがし銀行　パスワード変更完了画面</h1>
    </header>

    <div class="main" style="text-align:center;">
        <h2 style="text-align:left; padding: 10px; margin: 30px 100px; border: 2px solid #A9A9A9;"><font color="#328CC1">　パスワード変更</font></h2>

        <p>パスワードの変更が完了しました。</p>
        <p><font color="red">この画面は閉じてください。</font></p>

        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <hr width="90%"  noshade>

        <p>以上でフィッシング詐欺の体験は終了になります。下の[解説へ]のボタンを押してください。</P>

        <div class="button">
            <p><button style="background-color:#328CC1;" class="button1" type="submit"><font color="white">解説へ</font></button></p>
        </div>

    </div>

    <footer  style="text-align:center;">
        Copyright © ひがし銀行 All rights reserved
    </footer>

</form>
</body>
</html>