<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>スタート画面</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" href="/static/css/start.css">
</head>

<body>
<form method="POST" action="/mail">

<div class="wrapper">
    <header style="text-align:center; line-height:1.5">
        <h1><font color="white">東京電機大学　情報セキュリティ研究室</font></h1>
        <h2><font color="white">コンセプト 「セキュリティに興味を持ってもらう」</font></h2>
    </header>

    <div class="container">

        <div class="main" >
            <h2 style="text-align:center;"><font color="#00BCD4">フィッシング詐欺 体験</font></h2>
            <hr width = "90%" color="black" noshade>

            <div class="image" style="text-align:center;">
                <img src = "/static/image/image_email.png" alt="写真" width="200px">
            </div>

            <div class="explain" style="text-align:left; line-height:1">
                <p><font size="+2" color="#00BCD4" >体験ストーリー</font></p>
                <p>(1) いつも利用しているインターネットバンキング「ひがし銀行」からメールが届きました。</p>
                <p>(2) メールには自分のアカウントが不正ログインの被害を受けたという内容が書かれています。</p>
                <p>(3) あなたは急いでパスワードを変えようと変更サイトに飛び、パスワードを新しくすると…。</p>
            </div>

            <div class="button" style="clear:both; text-align:center;">
                <hr color="black" noshade>
                <h3>フィッシング詐欺の体験を始める場合は[START]ボタンを押してください。</h3>
                    <button class="button1" type="submit">START</button>
            </div>

        </div>

        <div class="side">
            <h3 style = "background-color:#FDD835; text-align:center;">フィッシング詐欺とは？</h3>
            <p>●実在する金融機関・ショップに成りすましてメールを送り、
                偽のウェブサイトに誘導して個人情報を取得・悪用するインターネット詐欺のひとつです。<br>
                　金融機関など有名企業を装った電子メールに「不正ログインが確認された」などとして、
                電子メール内のURLをクリックさせて表示された偽サイトのWebサイトに口座番号などを入力させ、
                個人情報を取得するというものです。
            </p>
        </div>
    </div>
</div>
</form>

<form method="POST" action="/advertisement">
    <div class="wrapper">
        <div class="container">

        <div class="main" >
            <h2 style="text-align:center;"><font color="#00BCD4">アンケート調査を装った詐欺 体験</font></h2>
            <hr width = "90%" color="black" noshade>

            <div class="image" style="text-align:center;">
                <img src = "/static/image/koukoku_web_pc.png" alt="写真" width="200px">
            </div>

            <div class="explain" style="text-align:left; line-height:1">
                <p><font size="+2" color="#00BCD4" >体験ストーリー</font></p>
                <p>(1) ブラウザを利用中に気になる広告が表示されました。</p>
                <p>(2) そこには「アンケートに答えるとiphone Xが当たるチャンスを差し上げます」と表示されています。</p>
                <p>(3) アンケートを答えるていると個人情報やクレジットカード情報入力画面が現れ…。</p>
            </div>

            <div class="button" style="clear:both; text-align:center;">
                <hr color="black" noshade>
                <h3>アンケート調査を装った詐欺の体験を始める場合は[START2]ボタンを押してください。</h3>
                    <button class="button1" type="submit">START2</button>
            </div>

        </div>

        <div class="side">
            <h3 style = "background-color:#FDD835; text-align:center;">アンケート調査を装った詐欺とは？</h3>
            <p>●広告配信を悪用したフィッシング詐欺です。<br>
                　ウェブサイトの広告や宣伝文をクリックすると広告主のサイトへ誘導される仕組みを悪用した詐欺になります。<br>
                　誘導先のサイトで「商品が当たった」ように見せかけて、
                当選とは関係のない契約を進めるページにてクレジットカード番号などの入力を求められてきます。
                言われるがままに手続きを行うと、登録したクレジットカードを悪用されるなど詐欺に遭ってしまいます。</p>
        </div>
    </div>
    </div>
</form>
</body>

<footer style="text-align:center;">
        Tokyo Denki University @ Information Security Lab
</footer>

</html>